*{
	margin: 0;
	padding: 0;
}

body{
    background-color: #1F2039;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
} 

strong, h1{
    color: #A5B4FC;
}   
h1{
    font-size: 2em;
}


section h2, main, table{
    color: #F9F8FF;
}

header,footer{
    background-color: white;
    color: #242424; 
    padding:20px 50px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
footer{
    border-bottom: 3px solid black;
}
small{
    background-color:#1F2039;
    color:#A5B4FC;
}
header a, footer a{
    text-decoration: none;
    color: black;
    padding-left: 50px;
    font-weight: bold;
    transition: background-color 1s,  color 1s;
}
header a:hover{
    color:#A5B4FC;
    background-color: #626264;
    padding: 5px;
    margin-left: 40px;
    border-radius: 10px;
}

.dado{
    padding: 80px;
    gap: 50px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.droite{
    text-align: left;
}
.dado div{
    align-content: center;
    display: block;
    /*width: 450px;*/
}
.dado p{
    text-align: justify;
}

/** Ne rien touchez ici dans div**/
.div{
   padding: 50px;
   width: 50%;
   margin: auto;
}
.div div{
   border-bottom: 1px solid #8E86B5;
   border-right: 1px solid #8E86B5 ;
   padding: 40px 40px 0px 40px; 
}
.div h2{
    padding-bottom: 30px;
}
.div div h2, .div div ul{
    margin: 20px;  
}

/**Création du tableau**/
table, td{
    border: 1px solid white;
    border-collapse: collapse;
    margin: auto;
}
.big_space{
    padding: 50px 120px;  
}
table{
    margin-bottom: 80px;
}
table caption{
    margin-bottom: 40px;
}

section nav{
    padding: 70px 0px 20px 0px;
    text-align: center;
}
section nav a{
    background: linear-gradient(#8E86B5, #ACAEED);
    font-family: Manrope;
    color: black;
    border-radius: 50px;
    padding: 20px 30px;
}
a:hover{
    color: white;
    text-decoration: none;
}

/** Pour les images de la page acceuil**/
#container1{
    background-color: white;
    padding: 20px 0px 30px 0px;
    width: auto;
    text-align: center;
}
#container1 div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#container1 img{
    height: 230px;
    width: 230px;
    padding: 5px;
}
#container1 h2, .black{
    color: black;
    padding: 20px;
}

/** Pour le formulaire de la page d'accueil**/
#formulaire h2{
    color: lab(74.62% 11.44 -37.32);
    padding: 80px 0px 50px 0px;
    text-align: center;
}
#formulaire form input{
    height: 40px;
    width: 450px;
}
.flexement{
    display: flex;
    text-align: start;
    gap: 30px;
    padding-bottom: 40px;
    justify-content: center;
}
.centre{
    padding-bottom: 40px;
    text-align: center;
}
button{
    margin-bottom: 45px;
    margin-top: 50px;
    padding: 10px 40px 10px 40px;
    background-color: #A5B4FC;
    color: white;
    border-radius: 30px;
    border-color: #A5B4FC;
}

/** Pour la page portfolio**/
.left{
    margin: 70px;
    font-size: 3em;
}
#container2{
    background-color:#fefeff;
    padding: 10px 80px 30px 80px;
}
#container2 img{
  width: 100%;
  height: 100%;
  object-fit: cover;/* L'image couvre le conteneur sans se déformer */
}
.paysages{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px 300px;
  gap: 15px;
}
.portraits{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px;
  gap: 15px;
}
/**Pour le survol des images**/
.relative{
    position: relative;
}
.absolute{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;/*Pour que lui et justify-content marchent correctement il faut à tout prix que le display: flex; soit présent*/
    justify-content: center;
    font-size: 1.5em;/*1.5× plus grande que la taille de base du parent.*/
    color: white;
    background-color: rgba( 0, 0, 0, 0.7 );
    display: none;
}
.relative:hover .absolute{
    display: flex;/*Quand l'utilisateur survole .relative, l'enfant .absolute devient visible (display: flex).*/
}

/*Pour les divers types d'affichage*/
@media screen and (max-width: 996px) {
    header{
        flex-direction: column;
    }
    header nav{
        padding-top: 20px;
    }
    .dado{
        flex-direction: column;
        padding: 0px 15px 60px 15px;
    }
    .dado img{
        order: 1;
    }
    .dado div{
        order: 2;
        width: auto;
        text-align: center;
    }
    .droite{
        text-align: center;
    }
    #container1{
        width: auto;
    }
    #container1 div{
        flex-direction: column;
    }
    #container1 img{
        width: auto;
        height: 600px;
        padding: 30px;
    }
    .flexement{
        flex-direction: column;
        padding-left: 50px;
    }
    .centre{
        text-align: start;
        padding-left: 50px;
    }
    .centre textarea{
        width: 860px;
    }
    #formulaire form input{
        width: 860px;
    }
    button{
        margin-left: 380px;
    }

    /* Pour la page a propos*/
    table{
        display: none;
    }

    /* Pour la page Portfolio*/
    .paysages{
        grid-template-columns: 1fr;
        gap: 15px;
    }
    .portraits{
        grid-template-columns: 1fr;
        gap: 15px;
    }
}